@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Titillium+Web);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

#container {
  width: 960px;
  margin-top: 1.3em;
  margin: 1.3em auto 0;
}

#container-inner {
  display: block;
  width: 100%;
}

a {
  color: #695d53;
  text-decoration: none;
}
a:hover {
  color: #42aac7;
}

h1 {
  font-size: 34px;
  padding: 0.3em 0;
}

h2 {
  font-size: 28px;
  padding: 0.3em 0;
}

h3 {
  font-size: 24px;
  padding: 0.3em 0;
}

h4 {
  font-size: 21px;
  padding: 0.3em 0;
}

h5 {
  font-size: 18px;
  padding: 0.3em 0;
}

h6 {
  font-size: 15px;
  padding: 0.3em 0;
}

p {
  margin-bottom: 1em;
}

ul, ol {
  margin-left: 2em;
  padding: 0.3em 0;
}
ul li, ol li {
  padding: 0.3em 0;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

dl {
  border-left: 2px solid #42aac7;
  padding: 0.5em;
}

dd {
  margin: 0 0 1.5em 1em;
}

blockquote {
  background-color: #f9f9f9;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
  padding: 0.5em;
  border: 1px solid #d9d9d9;
}
blockquote:before {
  content: "〃";
  font-weight: bold;
  font-size: 2em;
  color: #42aac7;
  display: block;
}
blockquote:after {
  content: "〃";
  font-weight: bold;
  font-size: 2em;
  display: block;
  color: #42aac7;
  text-align: right;
}
blockquote cite a {
  color: #42aac7;
}
blockquote cite a:hover {
  color: #75c1d6;
}

table {
  background-color: #f9f9f9;
  border: 1px solid #d9d9d9;
}

th, td {
  padding: 0.3em;
  border: 1px solid #d9d9d9;
}

pre {
  background-color: #f9f9f9;
  border: 2px solid #75c1d6;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
  padding: 0.5em;
  white-space: pre;
  word-wrap: normal;
  overflow: hidden;
}
pre:hover {
  overflow: auto;
}

body {
  line-height: 1.5;
  font-size: 14px;
  background: url("http://img.f.hatena.ne.jp/images/fotolife/t/totora0155/20130223/20130223002552.png");
  color: #695d53;
  font-family: Verdana, Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

#blog-title {
  display: block;
  width: 100%;
  border-bottom: 1px solid #cccccc;
  position: relative;
}

#blog-title-inner {
  margin-left: 1em;
}

#title {
  font-size: 3em;
  padding: 0.3em 0;
  font-family: "Titillium Web", sans-serif;
}
#title a {
  border-bottom: 2px dashed #695d53;
}

#blog-description {
  text-indent: 1em;
  font-size: 15px;
}

.header-image-enable #blog-title #title a, .header-image-enable #blog-title #blog-description {
  color: inherit;
  text-shadow: 0 0 0;
  padding: 0;
  position: relative;
  top: 26%;
}

.header-image-enable #blog-title #title a {
  border: none;
}

.header-image-enable #blog-title #title, .header-image-enable #blog-title #blog-description {
  padding: 0;
  position: relative;
  top: 26%;
}

#content {
  display: block;
  width: 100%;
  *zoom: 1;
  padding-top: 3em;
  line-height: 1.7;
  background: url("http://img.f.hatena.ne.jp/images/fotolife/t/totora0155/20130222/20130222233630.png");
}
#content:before, #content:after {
  content: "";
  display: table;
}
#content:after {
  clear: both;
}

#wrapper {
  display: inline;
  float: left;
  width: 66.42857%;
  margin-left: 1.42857%;
  margin-right: 3.57143%;
}

.hentry:not(:last-child) {
  margin-bottom: 3em;
}

.hentry .entry-title {
  display: inline;
  float: left;
  width: 96.15385%;
  margin-left: 3.84615%;
  font-size: 2em;
  color: #42aac7;
  text-align: left;
  letter-spacing: 0.2em;
  padding: 0;
  line-height: 1.7;
}

.entry-inner:first-child {
  padding-bottom: 1em;
}

.entry-inner:not(:first-child) {
  padding: 1em 0;
}

.date {
  color: #42aac7;
  text-align: left;
  border-bottom: 1px dotted #9a9a9a;
  height: 1.5em;
  padding-left: 1.3em;
  margin-bottom: 1.5em;
  padding-bottom: 0.1em;
}
.date span {
  color: #42aac7;
  text-shadow: 0 1px 1px #b2b2b2;
  letter-spacing: 0.2em;
}
.date .date-year {
  font-size: 0.8em;
}
.date .date-month {
  font-size: 1.2em;
}

div.categories {
  position: absolute;
}
div.categories a {
  padding-left: 1em;
  border-left: 1px solid #d1d1d1;
  background-color: #fbfbfb;
  padding: 0.1em 0.5em;
  -webkit-border-radius: 2px 2px;
  -moz-border-radius: 2px / 2px;
  border-radius: 2px / 2px;
  border: 1px solid lightgrey;
  color: #bebebe;
  position: relative;
  bottom: 3.1em;
  right: -10em;
}
div.categories a:hover {
  color: #42aac7;
}
div.categories a:not(:first-child) {
  margin-left: 0.5em;
}

.entry-content {
  display: inline;
  float: left;
  width: 96.15385%;
  margin-left: 3.84615%;
  line-height: 1.7;
  margin-top: 1.7em;
}

[id^="entry-"] .entry-inner h1 {
  font-size: 34px;
}

img.hatena-fotolife, img.magnifiable {
  max-width: 100%;
  margin: 0 auto 1em;
  width: auto;
  display: block;
  -webkit-border-radius: 3px 3px;
  -moz-border-radius: 3px / 3px;
  border-radius: 3px / 3px;
  padding: 0.35em;
  background: url("http://img.f.hatena.ne.jp/images/fotolife/t/totora0155/20130222/20130222233630.png");
  border: 1px solid #dddddd;
  -webkit-transition: all, 0s, ease-in-out, 0.5s;
  -moz-transition: all, 0s, ease-in-out, 0.5s;
  -o-transition: all, 0s, ease-in-out, 0.5s;
  transition: all, 0s, ease-in-out, 0.5s;
}

img.hatena-image-left, img.hatena-image-right {
  max-width: 31%;
  display: inline;
}

a img.hatena-image-left {
  float: left;
  margin: 0 1em 0 0;
}

a img.hatena-image-right {
  float: right;
  margin: 0 0 0 1em;
}

.keyword {
  border-bottom: 1px dashed #d9d9d9;
}

.hatena-asin-detail {
  border: 1px solid #dddddd;
  padding: 0.5em;
  background-color: #f9f9f9;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
  *zoom: 1;
}
.hatena-asin-detail:before, .hatena-asin-detail:after {
  content: "";
  display: table;
}
.hatena-asin-detail:after {
  clear: both;
}
.hatena-asin-detail ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
}
.hatena-asin-detail [target="_blank"] {
  color: #42aac7;
}
.hatena-asin-detail [target="_blank"]:hover {
  color: #95cfdf;
}

.hatena-asin-detail > a {
  display: inline;
  float: left;
  width: 38.46154%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0.3em;
  text-align: center;
  border-right: 1px solid #c3c3c3;
}

.hatena-asin-detail-info {
  display: inline;
  float: left;
  width: 60%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.entry-content .hatena-asin-detail .hatena-asin-detail-image {
  float: none;
  margin: 0;
  max-width: 100%;
  width: auto;
}

.entry-header-menu {
  position: absolute;
  height: 0;
}
.entry-header-menu a {
  position: relative;
  bottom: 3em;
  left: 42.5em;
  color: #a09287;
}
.entry-header-menu a:hover {
  color: #695d53;
}
.entry-header-menu a:before {
  content: "≫";
  font-size: 0.8em;
  color: #a09287;
  letter-spacing: 0.2em;
}

.entry-footer {
  display: block;
  clear: both;
  padding: 1.5em 0;
  margin-left: 4.7619%;
  font-size: 13px;
}

.entry-footer-section {
  text-align: right;
  float: right;
}

.hatena-star-container {
  width: 25em;
  float: left;
  margin-bottom: 1em;
}

.star-navigation-tooltip {
  position: relative;
  bottom: 2.4em;
}

.google_afc_blocklink,
#google_afc_user,
.customized-footer {
   clear: both;
}

.comment-box {
  border-top: 1px solid #b6b6b6;
}

.comment {
  list-style: none;
  margin: 0;
}
.comment li {
  border-bottom: 1px solid #b6b6b6;
  padding: 0.5em 1em;
  line-height: 1.2;
}

.comment-user-id {
  margin-left: 0.5em;
}

.comment-content {
  margin-left: 1em;
}

.leave-comment-title {
  display: inline;
  float: left;
  width: 38.46154%;
  margin-left: 30.76923%;
  margin-right: 30.76923%;
  padding: 0.3em;
  text-align: center;
  border: 1px solid #b6b6b6;
}

.pager, .permalink.pager {
  position: relative;
  margin: 0 1em 1em;
  height: 2em;
}

.pager-next, .pager-prev {
  padding: 0 0.5em;
  border: 1px solid #b6b6b6;
}

.pager-prev {
  position: absolute;
  right: 0;
}

#box2 {
  display: inline;
  float: left;
  width: 27.14286%;
  margin-right: 1.42857%;
  position: relative;
  bottom: 1.3em;
}

.hatena-module {
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 0.8em;
  padding: 0.8em;
}

.hatena-module-title {
  font-size: 1.3em;
  padding: 0.3em 0;
}

.hatena-module-body {
  padding-left: 0.8em;
}

.profile-icon {
  padding: 0.3em;
  background-color: #fafafa;
  border: 1px solid #75c1d6;
  -webkit-border-radius: 3px 3px;
  -moz-border-radius: 3px / 3px;
  border-radius: 3px / 3px;
  float: left;
  margin: 0 10px 10px 0;
}

.id {
  margin-left: 1em;
  position: relative;
  bottom: 2.3em;
}

.search-form input[type="text"] {
  outline: none;
  -webkit-border-radius: 3px 3px;
  -moz-border-radius: 3px / 3px;
  border-radius: 3px / 3px;
  border: 1px solid #d5d5d5;
  text-indent: 0.5em;
  height: 1.3em;
  line-height: 1.3;
  background-color: #fbfbfb;
}
.search-form input[type="text"]:focus {
  border: 1px solid #42aac7;
}
.search-form input[type="submit"] {
  border: none;
  background-color: transparent;
  border-left: 1px solid #d5d5d5;
  background-color: #f9f9f9;
  cursor: pointer;
}

#footer {
  width: 960px;
  text-align: center;
  padding-top: 1em;
  margin: 0 auto;
}

.breadcrumb {
  padding: 1em;
  background: url("http://img.f.hatena.ne.jp/images/fotolife/t/totora0155/20130222/20130222233630.png");
}

span[itemprop="child"] {
  color: #42aac7;
}

.page-about dl {
  border: none;
}
.page-about dt {
  font-size: 1.17em;
  line-height: 2;
}

.page-archive h1 {
  font-size: 1.2em;
}
.page-archive ul {
  margin-left: 0.3em;
  list-style: none;
}
.page-archive .autopagerize_page_element li {
  border-left: 2px solid #42aac7;
}
.page-archive .categories {
  display: block;
  width: 100%;
  display: block;
}
.page-archive .entry-title {
  font-size: 1.1em;
}
.page-archive .categories, .page-archive .entry-title {
  margin-left: 1em;
}
